/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans 300';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17/open-sans-v17-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v17/open-sans-v17-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v17/open-sans-v17-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v17/open-sans-v17-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/open-sans-v17/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v17/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v17/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans Italic';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v17/open-sans-v17-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('../fonts/open-sans-v17/open-sans-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v17/open-sans-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v17/open-sans-v17-latin-italic.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans 700';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('../fonts/open-sans-v17/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v17/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v17/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans 800';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v17/open-sans-v17-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('../fonts/open-sans-v17/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v17/open-sans-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v17/open-sans-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v17/open-sans-v17-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

$light-typo: 'Open Sans 300';
$main-typo: 'Open Sans Regular';
$bold-typo: 'Open Sans 600';
$title-typo: 'Open Sans 800';
