/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans 300';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-latin/open-sans-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-300.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans 600';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin/open-sans-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans 800';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/open-sans-v15-latin/open-sans-v15-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-800.woff') format('woff'), /* Modern Browsers */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/open-sans-v15-latin/open-sans-v15-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}

$light-typo: 'Open Sans 300';
$main-typo: 'Open Sans Regular';
$bold-typo: 'Open Sans 600';
$title-typo: 'Open Sans 800';
